# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
[Pp]ublish/

# mstest test results
TestResults

# VS User files
*.suo
*.user

# Others
*.vspscc
*.vssscc
*.vs10x
*.pidb
*.userprefs
*.tmp_proj
**/StyleCop.Cache
StyleCop.Cache

